<!DOCTYPE html>
<html lang="en">
{% load static %}
<script type="text/javascript" src="{% static '/polls/script/jquery-3.3.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<style>
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }

</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "tr" ).each(function( index ) {
        $( this ).addClass( "ui-widget-content" );
    });
    $( "#selectable" ).selectable();
  } );

</script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class='left-box' id="selectable">
    {% autoescape off %}{{ table }}{% endautoescape %}
</div>
<div class='right-box'>오른쪽</div>

</body>
</html>